apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  interval: 10m
  chart:
    spec:
      chart: homepage
      version: "2.0.1"
      sourceRef:
        kind: HelmRepository
        name: jameswynn
        namespace: homepage
  values:
    image:
      repository: ghcr.io/gethomepage/homepage
      tag: latest
    enableRbac: true
    serviceAccount:
      name: homepage
      create: false
    service:
      main:
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: false
    config:
      useExistingConfigMap: homepage-config
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
