apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: "7.3.7"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: grafana
  values:
    assertNoLeakedSecrets: false
    admin:
      existingSecret: "grafana-admin-credentials"
      userKey: username
      passwordKey: password
    persistence:
      type: pvc
      enabled: true
      storageClassName: local-path
      accessModes:
        - ReadWriteOnce
      size: 10Gi
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    securityContext:
      runAsNonRoot: true
      runAsUser: 472
      fsGroup: 472
      seccompProfile:
        type: RuntimeDefault
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://prometheus-kube-prometheus-prometheus.prometheus.svc.cluster.local:9090
            access: proxy
            isDefault: true
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: 'default'
            orgId: 1
            folder: ''
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: 'applications'
            orgId: 1
            folder: 'Applications'
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/applications
    dashboards:
      default:
        kubernetes-cluster:
          gnetId: 7249
          revision: 1
          datasource: Prometheus
        node-exporter:
          gnetId: 1860
          revision: 37
          datasource: Prometheus
      applications:
        postgresql:
          gnetId: 9628
          revision: 7
          datasource: Prometheus
        redis:
          gnetId: 763
          revision: 5
          datasource: Prometheus
    grafana.ini:
      server:
        protocol: http
        domain: "grafana.TEMPLATE_DOMAIN"
        root_url: "https://grafana.TEMPLATE_DOMAIN"
        serve_from_sub_path: false
      auth:
        disable_login_form: true
        disable_signout_menu: false
      auth.proxy:
        enabled: true
        header_name: X-Auth-Request-Email
        header_property: email
        auto_sign_up: true
        enable_login_token: false
      security:
        admin_user: admin
        cookie_secure: true
        cookie_samesite: lax
        content_type_protection: true
        strict_transport_security: true
        x_content_type_options: true
        x_xss_protection: true
      analytics:
        reporting_enabled: false
        check_for_updates: false
      log:
        mode: console
        level: info
