apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kanidm-data
  namespace: example-org
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
