apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: nginx-ingress
spec:
  interval: 10m
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nginx-ingress
  namespace: nginx-ingress
spec:
  interval: 10m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.3
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: nginx-ingress
  values:
    controller:
      ingressClassResource:
        name: nginx
        enabled: true
        default: true
      service:
        type: LoadBalancer
      metrics:
        enabled: true
        serviceMonitor:
          enabled: false
      config:
        force-ssl-redirect: "true"
        ssl-protocols: "TLSv1.2 TLSv1.3"
        worker-processes: "auto"
        max-worker-connections: "65536"
        log-format-escape-json: "true"
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          cpu: 500m
          memory: 512Mi
      kind: DaemonSet
      hostPort:
        enabled: true
        ports:
          http: 80
          https: 443
      tolerations:
        - key: "node-role.kubernetes.io/edge"
          operator: "Exists"
          effect: "NoSchedule"
      podSecurityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
