[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
