# Velero S3-compatible backup credentials
# Encrypt with: sops --encrypt --in-place secrets.secret.template.yaml
# Then rename to secrets.secret.enc.yaml
apiVersion: v1
kind: Secret
metadata:
  name: velero-credentials
  namespace: velero
type: Opaque
stringData:
  cloud: |
    [default]
    aws_access_key_id=CHANGE_ME
    aws_secret_access_key=CHANGE_ME
